@import '../abstract/var';

#servicos {
    margin: 80px;

    h3 {
        font-size: $text-font-size/2.5;
        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        padding: 5px;
    }

    h4 {
        font-size: $text-font-size/2;
        color: $secondary-color;
        text-align: center;
        padding: 20px;
    }

    .cards {
        display: flex;
        justify-content: space-evenly;

        h5 {
            font-size: $text-font-size/2.5;
            font-weight: 300;
            padding: 5px;
            color: $primary-color;
        }

        p {
            font-weight: 300;
            color: $primary-color;
            line-height: 1.5;
        }

        .card {
            width: 360px;
            text-align: center;

            .card-img {
                padding-bottom: 5px;

                img {
                    max-width: 100%;
                    border-radius: 5px;
                }
            }
        }
    }
}